@import './base.css';

#app {
    max-width: 1280px;
    min-width: 950px;
    min-height: 960px;
    height: 100vh;
    margin: 0 auto;
    padding: 2rem;

    font-weight: normal;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

#navRow {
    position: absolute;
    margin: 0 auto;
    width: 80%;
    bottom: 1rem;
}

#sigFormSel {
    scrollbar-color: #454a4d #202324;
}

#logText {
    scrollbar-width: thin;
}

.selectorCont {
    height: fit-content;
    max-height: 8rem;
    overflow-y: scroll;
    -ms-overflow-style: auto;
    scrollbar-width: thin;
}

.selectorCont::-webkit-scrollbar {
    display: auto;
}

.selectorContAlt {
    max-height: 24rem;
    overflow-y: scroll;
    -ms-overflow-style: auto;
    scrollbar-width: thin;
}

.selectorContAlt::-webkit-scrollbar {
    display: auto;
}

.MDBRow {
    margin-top: 1rem;
}

.MDBBtn {
    padding: 7pt;
    margin-inline-end: 1rem;
}

.navBtn {
    color: white;
    background-color: rgba(255, 255, 255, 0.06);
}

.padTop {
    margin-top: 1rem;
}

.list-group-item.active {
    color: white;
}